{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h1 style="text-align: center">Uredite zauzeće romobila</h1>

    <div style="width:500px; margin:auto; margin-top: 30px">
      {{form(form)}}
    </div>

    <a class="btn btn-success" href="{{path('zauzece.view')}}">Natrag</a>
  </div>
{% endblock %}
