{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h1 style="text-align: center">Uredite bicikl</h1>

    <div class="container">
      <div style="width:500px; margin:auto; margin-top: 30px">
        {{form(form)}}
      </div>
    </div>

    <a class="btn btn-success" href="{{path('bicikl.view')}}">Natrag</a>
  </div>
{% endblock %}
