{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h3 style="text-align: center">Upišite romobil</h3>

    <div class="row" style="margin: 10px">
      <button class="btn btn-success"><a href="{{path('romobil.view')}}">Natrag</a></button>
    </div>

    {{form(form)}}
  </div>
{% endblock %}
